// Colors 
$primaryColor: #0b0d17;
$secondaryColor: #D0D6F9;
$white: #FFFFFF;


// Fonts 

$heading1: 150px;
$heading2: 100px;
$heading3: 56px;
$heading4: 32px;
$heading5: 28px;
$heading5CharacterSpace: 4.75px;

$subHeading1: 28px;
$subHeading2: 14px;
$subHeading2CharacterSpace: 2.35px;

$navText: 16px;
$navTextCharacterSpace: 2.7px;